
<h2 class="title">User info</h2>

<div class="container">
  <div class="row">
    <div class="col-6">
      <table class="table">
        <tbody>
          <tr><td>
            <%= attachment_image_tag @user, :profile_image, size: '100x100', format: 'jpeg', fallback: "no_image.jpg" %>
          </td></tr>

          <tr>
            <td>name</td>
            <td><%= @user.name %></td>
          </tr>

          <tr>
            <td>introduction</td>
            <td><%= @user.introduction %></td>
          </tr>

          <tr><% if @user.id == current_user.id %>
            <td colspan="2"><%= link_to "編集", edit_user_path(@user), class: "btn btn-outline-secondary btn-block fas fa-user-cog" %></td>
          <% end %></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>