<div class="col-xs-12">
   
   <%= link_to "＋", new_style_path, class: "btn btn-success rounded-circle p-2" %>
   <% @tags.each do |tag| %>
      <%= link_to "#{tag.name}(#{tag.taggings_count})", style_path(tag.name), class: "label label-default" %>
   <% end %>
</div>