<label class="col-sm-12 my-top">
   <%#= raw(@style.tag_list.map { |t| link_to t, tag_path(t), class: "label label-default" }.join(' ')) %>
</label>

<% @style.each do |tag| %>
  <%= link_to tag.name, youtuber_path(tag) %>
<% end %>