<main class="top-margin">
  <div class="text-center">
    <h1 class="title">Ａｂｏｕｔ</h1>
    <br/>
    <h4>
      ForYoutuberは自分の推しのYoutuberを広めたり</br>
      新しいYoutuberに出会う機会を作るサイト
    </h4>
    <br/>
      <div class="about-image_box">
        <%= image_tag 'yt_logo_rgb_dark.png', class: '' %>
      </div>
    </div>
  </div>
</main>