<main class="top-margin">
  <div class="text-center">
    <h1>Ａｂｏｕｔ</h1>
    <br/>
    <h4>
      ForYoutuberは自分の推しのYoutuberを広めたり
      新しいYoutuberに出会う機会を作るサイト
    </h4>
    <br/>
    <p><%= image_tag ".jpg", size: "500x300" %></p>
  </div>
</main>